/03/ProjectPengubinan/nbproject/private/
/03/ProjectPengubinan/build/
/03/ProjectLuasBangunKompleks/nbproject/private/
/03/ProjectLuasBangunKompleks/build/
/03/Project 2/nbproject/private/
/03/Project 2/build/
/03/Project 1/build/
/03/Project 1/nbproject/private/
/03/ProjectOverloading/nbproject/private/
/03/ProjectOverloading/build/
/04/ProjectAdvancedOperasi/nbproject/private/
/ProjectOverloading/build/
/ProjectOverloading/nbproject/private/
/04/ProjectAdvancedOperasi/build/
/04/Project1/nbproject/private/
/04/Project1/build/
/04/ProjectBangunDatar2/nbproject/private/
/04/ProjectBangunDatar2/build/
/04/DegDegan App/nbproject/private/
/04/DegDegan App/build/
/04/PythagorasProject/nbproject/private/
/04/PythagorasProject/build
/10/PythagorasProject/nbproject/private/
/10/PythagorasProject/build/
/10/GameTebakAngkaProject/nbproject/private/
/10/GameTebakAngkaProject/build/
/11/ProjectRerata/nbproject/private/
/11/ProjectRerata/build/
/11/SimpleArrayList/nbproject/private/
/11/SimpleArrayList/build/
/11/Kegiatan 2/ProjectRerata/build/
/11/Kegiatan 2/SimpleArrayList/build/
/11/Kegiatan 2/ProjectRerata/nbproject/private/
/11/Kegiatan 2/SimpleArrayList/nbproject/private/