/03/ProjectPengubinan/nbproject/private/
/03/ProjectPengubinan/build/
/03/ProjectLuasBangunKompleks/nbproject/private/
/03/ProjectLuasBangunKompleks/build/
/03/Project 2/nbproject/private/
/03/Project 2/build/
/03/Project 1/build/
/03/Project 1/nbproject/private/
/03/ProjectOverloading/nbproject/private/
/03/ProjectOverloading/build/
/04/ProjectAdvancedOperasi/nbproject/private/
/ProjectOverloading/build/
/ProjectOverloading/nbproject/private/
/04/ProjectAdvancedOperasi/build/
/04/Project1/nbproject/private/
/04/Project1/build/
/04/ProjectBangunDatar2/nbproject/private/
/04/ProjectBangunDatar2/build/